<!DOCTYPE html>
<html lang="en">

<head>
    <title>ProFind</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style/normalize.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style/base.css') }}" />
    {% block style %}{% endblock %}

    <link rel="icon" href="{{ url_for('static', filename = 'icons/p.png') }}" />

    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <!--keywords-->
    <!-- <meta name="keywords" content="dasdsda" /> -->
    <!--desc-->
    <!-- <meta name="description" content="dasdsda" /> -->
    <!--define an author-->
    <!-- <meta name="author" content="Jane Doe" /> -->
    <!--refresh doc every 30 secs-->
    <!-- <meta http-equiv="refresh" content="30" /> -->
    <!--set viewport-->
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />
    <!--tell the web crawler what to do-->
    <meta name="robots" content="index,follow" />
</head>

<body>
    {% block body %}{% endblock %}
    {% block script %}{% endblock %}
</body>

</html>